= content_for(:head_includes) do
  != javascript_include_tag "backbone/character_creation/character_creation"

:javascript
  CharacterCreation.bootstrapData = #{@questions.to_json(:include => :starting_answers)}
  CharacterCreation.init()